
# all data files
*.csv
*.rds
*.emrg2
*_chain_*
*.db
*.zip
*.out
*.xlsx
*.xls
*.txt
*.pptx
*.png
*.edat2
*.rar
*.eps
*.pdf
*.tiff
*.fff
*.tex

# R related 
*.RData
*.Rhistory
*.Rproj.user/
*.Rproj
*.Rproj.user
.Rproj.user

# python (HDDM) related
*.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/.vscode/

# file sync related
*.sync.ffs*

# temp files
explore_files/

# data files that will be open
!AllData.RData
!Data4manu.RData
exp1a/*
exp1b/*
exp1c/*
exp2/*
exp3a/*
exp3b/*
exp4a/*
exp4b/*
exp5_specificity/*
exp6a_erp1/*
exp6b_erp2/*
exp7/*
scales/*
!Exp_info_all.csv
!*/rawdata*_export_2019.csv
!exp5_specificity/rawdata_behav_exp5_2016_export_2019.csv
!exp7/rawdata_behav_exp7a_2016.csv
!exp7/rawdata_behav_exp7b_2018.csv
!scales/FADGS_dataset4_1_clean.csv