
# all data files
*.csv
*.rds
*.emrg2
*_chain_*
*.db
*.zip
*.out
*.xlsx
*.xls
*.txt
*.pptx
*.png
*.edat2
*.rar
*.eps
*.pdf
*.tiff

# R related 
*.RData
*.Rhistory
*.Rproj.user/
*.Rproj
*.Rproj.user
.Rproj.user

# python (HDDM) related
*.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/.vscode/

# file sync related
*.sync.ffs*